* {
    font-family: 'Poppins';
    background-color: rgb(15 23 42);
    color: rgb(71 85 105);
}

.background-color {
    background-color: rgb(15 23 42);
}

.font-color {
    color: rgb(71 85 105);
}

.link-border {
    border: 1px solid rgb(71 85 105);
}

.main {
    width: 100%;
    height: calc(100vh - 84px);
}

.header {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgb(71 85 105);
    font-family: "poppins";
}

.header-div {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .7rem;
    margin: 0 auto;

}

.header-div>h1 {
    font-size: 1.3rem;
}

.header-div>a {
    text-decoration: none;
    padding: .4rem .7rem;
    border-radius: 8px;
}

.form-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 85%;
    height: fit-content;
    max-width: 420px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 8px;

}

.input-label-form-div>input {
    padding: .7rem;
    border-radius: 4px;
}

.form>button {
    padding: .7rem;
    font-weight: 600;
}

.input-label-form-div {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.input-label-form-div>label {
    font-size: .8rem;
}

.to-register-link {
    font-size: .8rem;
    align-self: center;
}

.create-new-academy-section {
    display: flex;
    width: 80%;
    max-width: 660px;
    margin: 4rem auto -2rem auto;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}

.create-new-academy-section>a {
    border: 1px solid rgb(100 116 139);
    padding: .3rem .4rem;
    border-radius: 8px;
}


.home-academies-section {
    width: 80%;
    max-width: 600px;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(51 65 85);
    padding: 2rem;
    font-family: "poppins";
}

.home-academies-div {
    display: flex;
    align-items: center;
    border: 1px solid rgb(100 116 139);
    padding: 1rem;
    border-radius: 4px;
    gap: 1rem;
    justify-content: space-between;
    min-height: 70px;

}

.home-academies-info-icon-div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.home-academies-info-icon-div .icon {
    font-size: 2rem;
}



.academy-info-div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.home-academies-info-div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.home-academies-info-div>p::first-letter {
    text-transform: uppercase;
}

.div-edit-delete {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.msg {
    background-color: rgb(83, 238, 83);
    color: white;
    right: 15%;
    top: 12%;
    max-width: 80%;
    padding: 2rem;
    font-family: "poppins";
    font-size: 1rem;
    margin: 2rem auto 0 auto;
    border-radius: 16px;

}

.search-form {
    max-width: 600px;
    margin: 2rem auto 0;
    display: flex;
    gap: 1rem;

}

.search-form>input {
    width: 100%;
    padding: .7rem;
    border: 1px solid rgb(100 116 139);
    border-radius: 8px;
}

.search-form>button {
    padding: .7rem;
    border: 1px solid rgb(100 116 139);
    background-color: rgb(100 116 139);
    color: whitesmoke;
    border-radius: 8px;
}

.add-outline {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-div {
    height: 70px;
    display: flex;
    padding:1rem ;
    align-items: center;
}

.pagination-div > nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.relative {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    margin-top: .1rem;
    
}

svg {
    width: 1.5rem;
    height: 1.5rem;
}

.not-found{
    padding: .5rem;
}